:root {
  font-family: Poppins, sans-serif, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --primary-color: #f5f5f5;
  --secondary-color: #a62338;
  --extra-color: #007e8c;

  --text-color: #002e59;

  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
